.IconList {
  list-style: none;
  background-color: gray;
}
.IconList > li {
  display: inline-block;
}
.linkLogo { 
  box-sizing: border-box;
  block-size: 40px;
  margin: 10px;  
}
.IconList > li > a {
  color: black;
}

.linkLogo:hover{
  filter: blur(1px);
}